#cardSolo
    margin-top: 7vh

    .cardDex
        margin-top: 1vh
        padding: 2vh
        height: 90vh
        background: #fff
        border-radius: 5vh 5vh 5vh 20vh
        box-shadow: 0px 0px 20px #ffffff

    .displayCard
        height: 70vh
        padding: 1vh
        border-radius: 5vh
        background: #000

    [data-circle]
        width: 3vh
        height: 3vh
        border-radius: 100%
        background: #ff0000

    [data-circle='down']
        width: 4vh
        height: 4vh

    [data-bugline]
        [data-line]
            width: 6vh
            height: .5vh
            margin-top: 1vh
            border-radius: 1vh
            background: #000

    #image
        width: 40vh
        height: 40vh
        margin-top: 5vh
        border-radius: 100%
        background: #00000067

    [data-card]
        margin: 0
        height: 60vh
        border-radius: 3vh

        [data-eps]
            border-radius: 3vh

    button
        padding: 1vh
        color: #fff
        transition: .5s
        font-weight: bold
        border-radius: 100%
        &:hover
            background:#a0a0a0
        img
            width: 5vh

    [data-buttoncard]
        top: 40vh
        z-index: 5
        position: absolute

    [data-buttoncard='prev']
        left: 1vh
        transform: rotate(180deg)
    [data-buttoncard='next']
        right: 1vh

    h4
        margin-top: 5vh

    .movePoke
        height: 20vh
        overflow-y: scroll
        box-shadow: 0px 0px 10px #fff

        h6
            margin: 1vh
            padding: 1vh
            color: #fff
            border-radius: 2vh
            background: #000
            text-transform: capitalize

@media screen and ( max-width: 768px )
    #cardSolo
        [data-buttoncard]
            top: 60vh

        #image
            width: 30vh
            height: 30vh

        [data-card]
            height: 60vh

        .cardDex
            border-radius: 3vh 3vh 3vh 10vh
